*.sh
*.ipynb
*.txt
*.docx
*.zip
*.jpg
*.png
*.avif
*.webp
*.tar
*.pth
Pipfile*

Results/
inference_results/
origin_image/
.ipynb_checkpoints/
__pycache__/
# csv/
twcc/
zips/
image/
test/
test results/
cam results/
compress.py

Database/*
!Database/class.txt
!Database/id_mapping.csv
!Database/FoodSeg_cate_mapping.csv
!Database/class chinese.txt
!FoodImageCode/test.ipynb
