*.sh
*.ipynb
*.txt
*.docx
*.zip
*.jpg
*.png
*.avif
*.webp
*.tar
*.pth
*.npz
*.log
Pipfile*
compress.py
temp

s2c/
Results/
inference_results/
origin_image/
.ipynb_checkpoints/
__pycache__/
# csv/
twcc/
zips/
image/
test/
test results/
cam results/
pretrained
code_ian
code_kevin
sam*

Database/*
!Database/class.txt
!Database/id_mapping.csv
!Database/FoodSeg_cate_mapping.csv
!Database/class chinese.txt
!FoodImageCode/test.ipynb

!requirements.txt
